@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #5227FF;
  --color-secondary: #FF9FFC;
  --color-tertiary: #B19EEF;
  /* --color-accent: #B19EEF; */
  --color-surface: #0F0109;
  
  /* Additional custom fonts */
  --font-grotesk: var(--font-space-grotesk);
  --font-code: var(--font-source-code-pro);
  --font-inter: var(--font-inter);

}


body {
  background: var(--background);
  color: var(--foreground);
  
}
